################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VNGPortal/.vs/VNGPortal
/VNGPortal/VNGPortal/bin
/VNGPortal/VNGPortal/obj
/VNGPortal/.vs/ProjectEvaluation
/VNGService/.vs/VNGService
/VNGService/VNGService/bin
/VNGService/VNGService/obj
